<% provide(:page_title, "Server API Documentation") %>

<div id="api-documentation">

	<%= render 'shared/api/subnav' %>

<section>

	<header class="page-header">
		<h1>Global</h1>
	</header>

	<article id="get-api-current_menu">
		<header>
			<h1 class="light-title">GET api/current_menu</h1>
		</header>
		<p>Get the current menu which include:</p>
		<ul>
			<li>The current menu information</li>
			<li>All products from the current menu</li>
			<li>Products always available</li>
		</ul>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/current_menu</p>
		<h3>Parameters</h3>
		<p>None</p>
		<h3>Example Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>GET</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/current_menu</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
{
	"current_menu" : {
		"id" : 3,
		"name" : "Menu Alsacien",
		"description" : "Revivez les joies de la flammekeuche chez YouFood !"
	},
	"products" : [
		{
			"id": 1,
			"name": "Choucroute",
			"abbreviation" : "chouc",
			"description": "Hummm... La bonne choucroute traditionnelle !",
			"photo_url" : "http://images.youfoud.com/products/choucroute.png",
			"price" : 13,
			"category" : {
				"id" : 2,
				"name" : "Tradition"
			},
			"is_permanent" : false
		}, 
		{
			"id": 2,
			"name": "Pizza Reine",
			"abbreviation" : "p.reine",
			"description": "Hummm... La bonne pizza reine traditionnelle !",
			"photo_url" : "http://images.youfoud.com/products/pizzas/reine.png",
			"price" : 8.50,
			"category" : {
				"id" : 18,
				"name" : "Pizza"
			},
			"is_permanent" : true
		}
	]
}
</pre>
	</article>

</section>
	

<section>

	<header class="page-header">
		<h1>For Waiters</h1>
	</header>

	<article id="get-api-invoices">
		<header>
			<h1 class="light-title">GET api/invoices</h1>
		</header>
		<p>Short description</p>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/invoices</p>
		<h3>Parameters</h3>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						zone_id<br/>
						<em>required</em>
					</td>
					<td>
						The zone for which you want the invoices<br/>
						<strong>Example Values: </strong>1 2 3 4 5
					</td>
				</tr>
				<tr>
					<td>
						include_entities<br/>
						<em>optional</em>
					</td>
					<td>
						If true the invoices are returned with all invoice's products information instead of just ids.<br/>
						<strong>Example Values: </strong>true, false
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Exemple Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>GET</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/invoices?zone_id=3&include_entities=false</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"price": 55.4,
		"invoice_product_ids" : [14, 15, 16, 17],
		"state" : "ready"
	},
	{
		"id": 9,
		"price": 25.4,
		"invoice_product_ids" : [66, 67],
		"state" : "waiting"
	}
]
</pre>
	</article>

	<article id="put-api-invoices">
		<header>
			<h1 class="light-title">PUT api/invoices</h1>
		</header>
		<p>Short description</p>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/invoices</p>
		<h3>Parameters</h3>
		<h3>Example Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>PUT</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/invoices</td>
				</tr>
				<tr>
					<td><strong>PUT Data</strong></td>
					<td class="code">
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"name": "Tradition",
	}
]
</pre>
					</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"name": "Tradition",
	}
]
</pre>
	</article>

</section>

<section>

	<header class="page-header">
		<h1>For Customers</h1>
	</header>

	<article id="post-api-invoices">
		<header>
			<h1 class="light-title">POST api/invoices</h1>
		</header>
		<p>Short description</p>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/invoices</p>
		<h3>Parameters</h3>
		<p>None</p>
		<h3>Example Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>POST</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/invoices</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"name": "Tradition"
	}
]
</pre>
	</article>

	<article id="post-api-call_waiter">
		<header>
			<h1 class="light-title">POST api/call_waiter</h1>
		</header>
		<p>Short description</p>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/call_waiter</p>
		<h3>Parameters</h3>
		<p>None</p>
		<h3>Example Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>POST</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/call_waiter</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"name": "Tradition"
	}
]
</pre>
	</article>

</section>









<!-- 	<article id="api-current_menu">
			<header>
				<h1 class="light-title">GET api/current_menu</h1>
			</header>
		<p>Get the current menu which include:</p>
		<ul>
			<li>The current menu information</li>
			<li>All products from the current menu</li>
			<li>Products always available</li>
		</ul>
		<h3>Resource URL</h3>
		<p>http://<em>youfoodserver.herokuapp.com</em>/api/current_menu</p>
		<h3>Parameters</h3>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						device<br/>
						<em>optionnel</em>
					</td>
					<td>
						Specifies the number of records to retrieve. Must be less than or equal to 200. <br/>
						Defaults to 20.<br/><br/>
						<strong>Exemples de valeurs: </strong>iphone, ipad, android, windowsphone
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Example Request</h3>
		<table class="table">
			<tbody>
				<tr>
					<td><strong>GET</strong></td>
					<td class="code">http://<em>youfoodserver.herokuapp.com</em>/api/current_menu</td>
				</tr>
			</tbody>
		</table>
<pre class="prettyprint linenums">
[
	{
		"id": 1,
		"name": "Tradition",
		"description": "Menu tradition française",
		"productCount": "10"
	}, 
	{
		"id": 2,
		"name": "Tradition",
		"description": "Menu tradition française",
		"productCount": 10
	}
]
</pre>
	</article> -->








</div>


