<% provide(:pageTitle, "Server API Documentation") %>

<div id="api-documentation">

	<h1>YouFood Server API Documentation</h1>

	<div class="row">

		<section id="api-global" class="span4">
			<h3>Global</h3>
			<ul>
				<li><a href="">GET /api/current_menu</a></li>
			</ul>
		</section>

		<section id="api-for-waiters" class="span4">
			<h3>For Waiters</h3>
			<ul>
				<li><a href="">GET /api/invoices</a></li>
				<li><a href="">PUT /api/invoices</a></li>
			</ul>
		</section>

		<section id="api-for-customers" class="span4">
			<h3>For Customers</h3>
			<ul>
				<li><a href="">POST /api/invoices</a></li>
				<li><a href="">POST /api/call_waiter</a></li>
			</ul>
		</section>

	</div>
	
</div>


