<% provide(:page_title, full_title("Menu | Nouveau")) %>

<section id="menu-new" class="new-element">

    <%= simple_form_for(@menu, html: {multipart: true, class: 'form-horizontal'}) do |f| %>
        <%= render 'menu_form', form: f %>
    <% end %>

</section>

<% content_for :js do %>
    <script type="text/javascript">
        // Products-related DOM elements
        var $productsInput = $("#products_id");
        var $productsList = $("#products_list");
        var $productsAutocomplete = $("#product_autocomplete");

        // Schedules-related DOM elements
        var $schedulesInput = $("#schedules_id");
        var $schedulesList = $("#schedules_list");
        var $schedulesAutocomplete = $("#schedule_autocomplete");
        var scheduleWarning = "Un menu est déjà planifié à cette semaine."

        // Products lists
        var products = <%= raw @products.to_json %>;
        var selectedProducts = [];

        // Schedules lists
        var schedules = <%= raw @schedules.to_json %>;
        var selectedSchedules = [];

        // Products methods
        // Remove product
        $(".remove_products").live("click", function () {
            var deletedProductId = $(this).val();
            var indexToRemove = 0;
            for (var i = 0; i < selectedProducts.length; i++) {
                if (selectedProducts[i].id == deletedProductId)
                    indexToRemove = i;
            }
            selectedProducts.splice(indexToRemove, 1);

            renderProducts();
            $productsAutocomplete.autocomplete("option", { source:loadAvailableProducts() });
        })

        // Add product
        $("#product_add").click(function () {
            var chosenProductName = $productsAutocomplete.val();
            for (var i = 0; i < products.length; i++) {
                if (products[i].name == chosenProductName) {
                    selectedProducts.push(products[i]);
                }
            }
            $productsAutocomplete.val("");

            renderProducts();
            $productsAutocomplete.autocomplete("option", { source:loadAvailableProducts() });
        });

        // Load products autocomplete list
        function loadAvailableProducts() {
            var products_name = [];
            for (var i = 0; i < products.length; i++) {
                if ($.inArray(products[i], selectedProducts) == -1)
                    products_name.push(products[i].name);
            }
            return products_name;
        }

        // Show the product list on the web page
        function renderProducts() {
            $productsList.show();
            $productsList.empty();
            $productsInput.val("");
            for (var i = 0; i < selectedProducts.length; i++) {
                $productsInput.val($productsInput.val() + selectedProducts[i].id + ",");
                $productsList.append(
                        "<li id=\"product" + selectedProducts[i].id + "\">" +
                                "<span class=\"span4\">" + selectedProducts[i].name + "</span>" +
                                "<button type=\"button\" " +
                                "class=\"btn btn-danger remove_products\" value=\"" + selectedProducts[i].id + "\">Supprimer</button>" +
                                "</li>");
            }
        }

        // Products autocomplete definition
        $productsAutocomplete.autocomplete({
            delay:0,
            source:loadAvailableProducts()
        });


        // Schedules lists
        // Add schedule
        $("#schedule_add").click(function () {
            var chosenSchedule = $schedulesAutocomplete.val();
            for (var i = 0; i < schedules.length; i++) {
                if (("Semaine " + schedules[i].week ) == chosenSchedule) {
                    selectedSchedules.push(schedules[i]);
                }
            }
            $schedulesAutocomplete.val("");

            renderSchedules();
            $schedulesAutocomplete.autocomplete("option", { source:loadAvailableSchedules() });
        });

        // Remove schedule
        $(".remove_schedules").live("click", function () {
            var deletedScheduleId = $(this).val();
            var indexToRemove = 0;
            for (var i = 0; i < selectedSchedules.length; i++) {
                if (selectedSchedules[i].id == deletedScheduleId)
                    indexToRemove = i;
            }
            selectedSchedules.splice(indexToRemove, 1);

            renderSchedules();
            $schedulesAutocomplete.autocomplete("option", { source:loadAvailableSchedules() });
        })

        // Load schedules autocomplete list
        function loadAvailableSchedules() {
            var schedules_weeks = [];
            for (var i = 0; i < schedules.length; i++) {
                if ($.inArray(schedules[i], selectedSchedules) == -1)
                    schedules_weeks.push("Semaine " + schedules[i].week);
            }
            return schedules_weeks;
        }


        // Show the schedule list on the web page
        function renderSchedules() {
            $schedulesList.show();
            $schedulesList.empty();
            $schedulesInput.val("");
            for (var i = 0; i < selectedSchedules.length; i++) {
                $schedulesInput.val($schedulesInput.val() + selectedSchedules[i].id + ",");
                $schedulesList.append(
                        "<li id=\"schedule" + selectedSchedules[i].id + "\">" +
                                "<span class=\"span4\"> Semaine " + selectedSchedules[i].week + "</span>" +
                                "<button type=\"button\" " +
                                "class=\"btn btn-danger remove_schedules\" value=\"" + selectedSchedules[i].id + "\">Supprimer</button></li>");
                if (selectedSchedules[i].menu_id)
                    $("#schedule" + selectedSchedules[i].id).append("<span class=\"help-inline\" style=\"color:#1C628B\">" + scheduleWarning + "</span>");
            }
        }

        // Schedule autocomplete definition
        $schedulesAutocomplete.autocomplete({
            delay:0,
            source:loadAvailableSchedules()
        });

    </script>
<% end %>