<% provide(:page_title, "Restaurant #{@restaurant.name} | Employés") %>

<section id="employees">

<header class="page-header">
	<h1>Le Personnel</h1>
</header>

	<div class="row-fluid">
		<p class="span9"></p>
		<a href="<%= new_employee_path %>" class="btn btn-primary span2">Nouvel Employé +</a>
	</div>
	

<table class="table table-bordered table-striped index">
	<% if @employees.any? %>
		<thead>
			<td>Identifiant</td>
			<td>Nom</td>
			<td>Poste</td>
		</thead>
		<tbody>
			<% @employees.each do |e| %>
				<%= render 'employee', employee: e %>
			<% end %>
		</tbody>
	<% else %>
		<tr>
			<td>Aucun employé trouvé.</td>
		</tr>
	<% end %>
</table>

</section>