
<div class="span3 invoice well" id="invoice-<%= invoice.id %>">
	<h3><%= invoice.table.name %></h3>
	<a class="btn btn-primary btn-large invoice-call-waiter">Appeller le serveur</a>
	<hr/>
	<div class="invoice-products">
		<% invoice.invoices_products.each do |ip| %>
			<%= render 'invoice_product', invoice_product: ip %>
		<% end %>
	</div>
	<p>Commandé il y a <em><%= time_ago_in_words invoice.updated_at %></em>.</p>
</div>
