<h1>Portail de gestion - Directeur</h1>
<hr/>
<a class="tile" href="#">Gérer les restaurants</a>
<a class="tile" href="#">Gérer les menus</a>
<a class="tile" href="#">Gérer les produits</a>
<a class="tile" href="#">Voir les statistiques</a>
<a class="tile" href="#">Gérer les restaurants</a>
<a class="tile" href="#">Créer un restaurant</a>
<a class="tile" href="#">Créer un menu</a>
<a class="tile" href="#">Gérer un produit</a>