<h1>Portail de gestion - Directeur</h1>
<hr/>
<a href="#">Gérer les restaurants</a>
<a href="#">Gérer les menus</a>
<a href="#">Gérer les produits</a>
<a href="#">Voir les statistiques</a>
<a href="#">Gérer les restaurants</a>
<a href="#">Créer un restaurant</a>
<a href="#">Créer un menu</a>
<a href="#">Gérer un produit</a>