<% provide(:page_title, restaurant_title("")) %>

<h1>Portail de gestion - Restaurant</h1>
<hr/>

<a class="tile" href="<%= employees_path %>">Gérer le personnel</a>
<a class="tile" href="/restaurant_manager/room">Gérer la salle</a>
<a class="tile" href="<%= new_employee_path %>">Créer un nouvel employé</a>
<a class="tile" href="#">Gérer les commandes</a>