<h1>Portail de gestion - Manager</h1>
<hr/>
<a class="tile" href="#">Gérer le personnel</a>
<a class="tile" href="#">Gérer la salle</a>
<a class="tile" href="#">Créer un nouvel employé</a>
<a class="tile" href="#">Gérer les commandes</a>