<% provide(:page_title, restaurant_title("La salle")) %>

<h1>La salle</h1>
<hr/>

<%= link_to "Gérer les tables", tables_path, class: 'tile' %>
<%= link_to "Gérer les zones", zones_path, class: 'tile' %>