<tr>
    <td><%= table.name %></td>
    <td><%= table.forks_nb %></td>
    <td>
        <% if table.zone %>
            <%= table.zone.name %>
        <% else %>
            Aucune zone associée
        <% end %>
    </td>
</tr>