<tr>
    <td><%= table.name %></td>
    <td><%= table.forks_nb %></td>
    <td>
        <% if table.zone %>
            <%= table.zone.name %>
        <% else %>
            Aucune zone associée
        <% end %>
    </td>
    <td>
        <%= link_to "Supprimer", table, method: :delete,
                    confirm: "Êtes-vous sûr de vouloir supprimer la table #{table.name}?" %>
    </td>
</tr>