<tr>
    <td><%= link_to(restaurant.name, restaurant_path(restaurant)) %></td>
    <td>Manager name</td>
    <td><%= restaurant.city %></td>
    <td><%= restaurant.phone %></td>
    <td><%= link_to('Statistiques') %></td>
</tr>