<div class="subnav">
  <ul class="nav nav-pills">
  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Global <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#get-api-current_menu">GET /api/current_menu</a></li>
		</ul>
    </li>
    <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">For Waiters <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#get-api-invoices">GET /api/invoices</a></li>
			<li><a href="#put-api-invoices">PUT /api/invoices</a></li>
		</ul>
    </li>
    <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">For Customers <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#post-api-invoices">POST /api/invoices</a></li>
			<li><a href="#post-api-call_waiter">POST /api/call_waiter</a></li>
		</ul>
    </li>
  </ul>
</div>