<tr>
    <td><%= link_to(zone.name, zone_path(zone)) %></td>
    <td><%= pluralize(10, "table", "tables") %></td>
    <td>
        <%= link_to('Supprimer', @zone, method: :delete,
                    confirm: "Êtes-vous sûr de vouloir supprimer la zone #{zone.name}?") %>

        <%= link_to('Modifier', edit_zone_path(zone)) %>
    </td>
</tr>