<% provide(:page_title, full_title("La salle")) %>

<section id="menu-new" class="new-element">

    <%= simple_form_for(@zone, html: {multipart: true, class: 'form-horizontal'}) do |f| %>
        <%= render 'zone_form', form: f %>
    <% end %>

</section>

<%= render 'zone_form_js' %>
