
.invoice {
	h3 {
		text-align: center;
	}

	.invoice-call-waiter {
		width: 90%;
	}
}

.invoice-product {
	button {
		margin-right: 4px;
	}
}

ul.no-bullet {
	list-style-type: none;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}
